<!--페이지 로딩 속도를 높이기 위해 Javascript 소스 코드를 footer에 둠-->
<!--jQuery 가 있어야 Bootstrap 실행 가능하므로 먼저 둠-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>