{{>layout/header}}

    <h1>Spring Boot - AWS 와 함께하는 CRUD / CI/CD </h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as : <span id="user">{{userName}}</span>
                    <!-- Spring Security 에서 기본으로 제공하는 logout URL -->
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <!-- Spring Security 에서 기본으로 제공하는 Google login URL -->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
        <br />
    
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정</th>
            </tr>
            </thead>
            <tbody id="tbody">

            <!-- like for-loop -->
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}